h1 {
    font-family: "Lucida Courier" Verdana "Times New Roman";
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1.2em;
}

.th2 {
    background-color: #D3D3D3;
    border: 1px solid white;
    padding: 10px;
}

.th1 {
    background-color: #D3D3D3;
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
}

table {
    background-color: #DCDCDC;
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    padding: 10px;
    border: 1px solid white;
}