
tr, td {
text-align: center;
	vertical-align: center;
	height: 40px;
}
th {
	background-color: #C0C0C0;
	vertical-align: center;
	height: 40px;
	border: 2px solid black;
	font-size: 110%;
}

li {
	word-spacing: 5px;
	line-height: 150%;
}

table {
	border-collapse: collapse;
}
