@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');
.glyphicon{
	font-size:20px;
}
.jumbotron {
    padding-top: 15px;
    padding-bottom: 15px;
}
.jumbotron p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 150;
}
.navigation h1 {

	text-align: center;
	padding-top: 40px;
	font-size: 5em;
	line-height:.5em;
	font-family: 'Just Another Hand', cursive;
}

.navigation a {
	padding-left:30px;
}

.navigation a:link {
    color: blue;
}

.navigation a:visited {
    color: Orange;
}

.navigation a:hover {
    color: black;
font-weight: bold;
}

.navigation a:active {
    color: blue;
	text-decoration:none;
}
.navigation hr{
border-top: 2px solid black;
margin:30px 0 0 0;
}
hr#nav {
	border-top: 2px solid black;
	margin:0;
}

.nav-pills > li.active > a{
 background-color: #efcb00;
	color:black;
	border-radius: 0px;
	padding:30px;
}

.nav-pills > li.active > a:hover{
 background-color: #efcb00;
	border-radius: 0px;
	padding:30px;
	
}

 .nav-pills > li > a:hover {
 background-color: #efcb00;
 color:black;
 border-radius: 0px;
 padding:30px;
 } 
 .nav-pills > li > a {
 background-color: white;
 color:black;
 border-radius: 0px;
 padding:30px;
 }

 .burger {
	 max-width:400px;
	 margin:auto;
	 padding:30 0 0 0;
	 display: block;
 }
 
 .navbar {
	 text-align:center;
 }

.footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

hr#footersep{
border-top: 2px solid black;
margin: 0 0 30 0;
}

.menu {
	background-color : #f2f2f2;
	padding:5%;
}

.menu section {
		text-align:center;
}