
#image {
	background-image:url("LoadAlbum.jpg");
	background-repeat:no-repeat;
	background-position: center center;
	width:100%;
	height:400px;
	padding-top:30px;
}

tr, td {
text-align: center;
	vertical-align: center;
	height: 40px;
}
	
	   h1 {
    font-family:Nosifer;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 0.4;
    }
	
th {
	background-color: #C0C0C0;
	vertical-align: center;
	height: 40px;
	border: 2px solid black;
	font-size: 110%;
}

li {
	word-spacing: 5px;
	line-height: 150%;
	font-style: italic;
}

table {
	border-collapse: collapse;
}
