@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

.navigation h1 {

	text-align: center;
	padding-top: 40px;
	font-size: 4em;
	line-height:.5em;
	font-family: 'Just Another Hand', cursive;
	font-style:bold;
}
.navigation a {
	padding-left:30px;
}
.navigation a:link {
    color: blue;
}
.navigation a:visited {
    color: red;
}
.navigation a:hover {
    color: black;
}
.navigation a:active {
    color: blue;
}
.navigation hr{
border-top: 2px solid black;
margin-bottom:30px;
margin-top:30px;
}
.footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.footer hr{
border-top: 2px solid black;
margin-bottom:30px;
margin-top:30px;
}