


tr, td {
text-align: center;
	vertical-align: center;
}
	
	   h1 {
    font-family:Nosifer;
    font-size: 3em;
    text-transform: uppercase;
    line-height: 1.2em;
    }
	
th {
	background-color: #C0C0C0;
	text-align:center;
	vertical-align: center;

	font-size: 110%;
}

li {
	word-spacing: 5px;
	line-height: 150%;
	font-style: italic;
}

table {
	border-collapse: collapse;
}
