.navigation h1 {
	text-align: center;
	margin: 40px 0px 40px;
	font-size: 2.5em;
}
.navigation a {
	padding-left:30px;
}
.navigation a:link {
    color: blue;
}
.navigation a:visited {
    color: red;
}
.navigation a:hover {
    color: black;
}
.navigation a:active {
    color: blue;
}
.navigation hr{
border-top: 2px solid black;
margin-bottom:30px;
margin-top:30px;
}
.footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
.footer hr{
border-top: 2px solid black;
margin-bottom:30px;
margin-top:30px;
}